
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body
{
    font-family: 'Lato', sans-serif;
}
a
{
    text-decoration: none;
}
h1
{
    font-family: 'Roboto Condensed', sans-serif;
}
p
{
    font-family: 'Montserrat', sans-serif;
}
.menu-item
{
    background-color: silver;
    padding:10px;
    text-align: center;
}
li
{
list-style-type: none;
display:inline-block;
}
.menu-item a
{
    padding:10px;
}
.menu-item a:hover
{
    color: brown;
    background-color: orangered;
}


.container
{
margin-bottom: 10px;
}
.left-div
{
text-align: center;
width:33.33%;
float: left;
background-color: tomato;
border-radius: 13px;
}
.left-div-content
{
    margin: 10px;
}
.left-div-content img
{
    width:350px;
    border-radius: 50%;
}
.left-div-content p
{
text-align: justify;
}

.right-div
{
    background-color: turquoise;
    float: left;
    width:33.33%;
    text-align: center;
    border-radius: 13px;
}
.right-div-container
{
    margin:10px;
}

.right-div-container img
{
width:350px;
border-radius:50%;
}
.right-div-container p
{
    text-align: justify;
}
.middle-div
{
    text-align: center;
    background-color: brown;
    float: left;
    width: 33.33%;
    border-radius: 13px;
}
.middle-div-container
{
 margin: 10px; 
}
.middle-div-container img
{
width:350px;
border-radius: 50%;
}
.middle-div-container p
{
    text-align: justify;
}
/* ********CONTACT-CSS-CODE********* */

.bucket
{
    background-color: tomato;
    text-align: center;
}
.left-div1
{
    background-color: turquoise;
    float:left;
    width:25%;
    height: 350px;
    border-radius:15px;
}
.right-div1
{
    background-color: violet;
    float:left;
    width:25%;
    height: 350px;
    border-radius:15px;
}
.middle-div1
{
width:25%;
float: left;
background-color: yellow;
height: 350px;
border-radius:15px;
}
.middle-div2
{
    width: 25%;
    float:left;
    background-color: silver;
    height: 350px;
    border-radius:15px;
}
.copyright
{
    background-color: yellow;
}


/* ***********ABOUT-PAGE-CSS******* */
.holder
{
    text-align: center;
    float: left;
}
.left-div2
{
    background-color: slategray;
    border-radius: 10px;
    width:20%;
    float: left;
}
.middle1
{
    background-color: whitesmoke;
    border-radius: 10px;
    width:20%;
    float: left;
}
.middle2
{
    background-color: yellow;
    border-radius: 10px;
    float: left;
    width: 20%;
}
.middle3
{
    background-color: cornflowerblue;
    border-radius: 10px;
    width:20%;
    float: left;
}
.right-div2
{
    background-color: green;
    border-radius: 10px;
    width:20%;
    float: left;
}